# Environment variables
/*.env

# Tree (paths)
/map
/assets

# Argon
/sourcemap.json

# Wally
/Packages
/ServerPackages
/DevPackages

# Artifacts
/*.lock
/*.rbxl
/*.rbxl.lock
/*.rbxlx
/*.rbxm
/*.rbxmx

# Misc
.DS_Store
